<launch>
    <arg name="costmap_topic" default="/vacuum_cleaner/modified_global_costmap" />
    <!--<arg name="costmap_update_topic" default="/move_base/global_costmap/costmap_updates" />-->
    
    <node pkg="costmap_converter" type="standalone_converter" respawn="false" name="standalone_converter" output="screen">
        <remap from="costmap_topic" to="$(arg costmap_topic)"/>
        <!--<remap from="costmap_update_topic" to="$(arg costmap_update_topic)"/>-->
    </node>

</launch>