<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find vacuum_cleaner_navigation)/maps/carto_map.yaml"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- Localization -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <include file="$(find vacuum_cleaner_navigation)/launch/amcl.launch">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <include file="$(find vacuum_cleaner_navigation)/launch/move_base_flex.launch"/>


    <!-- rviz -->
  <group if="true"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find vacuum_cleaner_navigation)/rviz/vacuum_cleaner_mbf_demo.rviz"/>
  </group>
</launch>