<launch>
    <arg name="global_costmap" default="/move_base/global_costmap/costmap" />
    <arg name="global_costmap_update" default="/move_base/global_costmap/costmap_updates" />
    <arg name="local_costmap" default="/move_base/local_costmap/costmap" />
    <arg name="local_costmap_update" default="/move_base/local_costmap/costmap_updates" />
    
    <arg name="boustrophedon_decomposition" default="true"/>
	<arg name="border_drive" default="false"/>

	<node pkg="path_coverage" type="my_path_coverage_node.py" name="path_coverage" output="screen">
		<!-- Whether to execute the boustrophedon decomposition -->
		<param name="boustrophedon_decomposition" value="$(arg boustrophedon_decomposition)"/>
		<!-- Drive around the cell first -->
		<param name="border_drive" value="$(arg border_drive)"/>
		<!-- Width of each path -->
		<param name="robot_width" value="0.11"/>
		<!-- Maximum costmap value to consider free -->
		<param name="costmap_max_non_lethal" value="95"/>
		<!-- The robots base frame -->
		<param name="base_frame" value="base_link"/>

        <remap from="/move_base/global_costmap/costmap" to="$(arg global_costmap)"/>
        <remap from="/move_base/local_costmap/costmap" to="$(arg local_costmap)"/>
        
	</node>

	<node name="vacuum_executor" pkg="vacuum_cleaner_navigation" type="vacuum_executor.py"  output="screen" launch-prefix="bash -c 'sleep 2.0; $0 $@' "/>



</launch>