<launch>
    <arg name="map_file" default="$(find vacuum_cleaner_navigation)/maps/vacuum/map.yaml"/>
    <arg name="open_rviz" default="true"/>

    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <include file="$(find vacuum_cleaner_navigation)/launch/amcl.launch"/>
    <!--
    <include file="$(find vacuum_cleaner_navigation)/launch/move_base.launch"/>
    -->
    <include file="$(find vacuum_cleaner_navigation)/launch/move_base_flex.launch"/>
    
    <node pkg="mobile_robot_simulator" type="mobile_robot_simulator_node" name="mobile_robot_simulator" output="screen">
        <param name="publish_map_transform" value="true"/>
        <param name="publish_rate" value="100.0"/>
        <param name="velocity_topic" value="/cmd_vel"/>
        <param name="odometry_topic" value="/odom"/>
    </node>

    <node pkg="mobile_robot_simulator" type="laser_scanner_simulator_node" name="laser_sim_node">
        <param name="laser_topic" value="/scan"/>
        <param name="map_service" value="/static_map"/>
        <!-- laser parameters -->
        <param name="laser_frame_id" value="laser_frame"/>
        <param name="laser_fov" value="4.71"/>
        <param name="laser_beam_count" value="541"/>
        <param name="laser_max_range" value="30.0"/>
        <param name="laser_min_range" value="0.05"/>
        <param name="laser_frequency" value="10.0"/>
        <!-- noise model parameters -->
        <param name="apply_noise" value="true"/>
        <param name="sigma_hit" value="0.005"/>
        <param name="lambda_short" value="2.0"/>
        <!-- noise model mixing coefficients -->
        <param name="z_hit" value="0.995"/>
        <param name="z_short" value="0.0"/>
        <param name="z_max" value="0.005"/>
        <param name="z_rand" value="0.0"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4"
        args="-0.07 0.0 0.09 -2.1 0.0  0.0 /base_link /laser_frame 100" /> 

    <group if="$(arg open_rviz)"> 
        <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find vacuum_cleaner_navigation)/rviz/simulation.rviz"/>
    </group>
</launch>