<launch>
  <node pkg="vacuum_cleaner_bringup" type="serial_node" name="serial_node" output="screen">
    <param name="port" value="/dev/ttyUSB1"/>
    <param name="baudrate" value="38400"/>
  </node>

  <node pkg="vacuum_cleaner_bringup" type="odom_node" name="odom_node" output="screen">
  </node>

  <include file="$(find vacuum_cleaner_bringup)/launch/rs_camera.launch"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera"
    args="0.14 0.03 0.065 0.0 0.0  0.0 /base_link /camera_link 20" /> 
    
</launch>
