<launch>
    <arg name="input_image" default="/camera/color/image_raw"/>
    <arg name="camera_info_topic" default="/camera/color/camera_info" />
    <arg name="model_file_path" default="$(find cleanbot_2022_bringup)/model/trash_detector_model_v2.tflite" />
    <arg name="model_label_path" default="$(find cleanbot_2022_bringup)/model/trash_detector_labels.txt" />


    <node name="object_detector" pkg="cleanbot_2022_bringup" type="object_detector.py" output="screen">
        <param name="input" value="$(arg input_image)" />
        <param name="camera_info" value="$(arg camera_info_topic)" />
        <param name="model_file" value="$(arg model_file_path)" />
        <param name="model_label" value="$(arg model_label_path)" />
    </node>

</launch>
