<launch>
    <arg name="open_rviz" default="true"/>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find vacuum_cleaner_slam)/configuration_files
          -configuration_basename vacuum_cleaner_lds.lua"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
    <remap from="imu" to="camera/imu"/> 
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.01" />


    <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find vacuum_cleaner_slam)/rviz/vacuum_cleaner_slam.rviz"/>
  </group>

</launch> 